body {
  font-family: var(--font-roboto) !important;
}

.rdp-root {
  --rdp-accent-color: blue;
  --rdp-today-color: white;
}

.rdp-day.rdp-today.rdp-selected {
  color: white;
}

.rdp-day.rdp-outside.rdp-selected {
  background: blue;
}

.rdp-selected {
  font-weight: bold;
  font-size: large;
  background: blue;
  color: white;
  border-radius: 50%;
}

.rdp-month_caption {
  border-bottom: 1.5px solid lightgray;
  padding-bottom: 18px;
  margin-bottom: 18px;
}

.rdp-nav {
  margin-top: 24px;
  padding-bottom: 18px;
  padding-right: 24px;
  gap: 24px;
}

/* not working */
.rdp-chevron {
  fill: lightgray;
}

.rdp-month {
  border-radius: 10px;
  border: 1px solid lightgray;
  padding: 24px;
  box-shadow: 3px 3px 3px lightgray;
}

/* not working */
.rdp-button_next {
  fill: lightgray;
}

/* not working */
.rdp-button_previous {
  fill: lightgray;
}
