body {
  font-family: var(--font-roboto) !important;
}

.react-aria-Calendar {
  width: auto;
  padding: 24px;
  border: 1px solid lightgray;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: large;
  text-transform: uppercase;

  header {
    display: flex;
    align-items: center;
    margin: 0px 16px;
    border-bottom: 1px solid lightgray;
    justify-content: space-between;
    padding-bottom: 18px;
    margin-bottom: 18px;

    .react-aria-Heading {
      margin: 0;
      text-align: center;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 1px;
    }
  }

  .react-aria-Button {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
  }

  .react-aria-CalendarHeaderCell {
    padding-bottom: 18px;
    font-weight: 250;
  }

  .react-aria-CalendarCell {
    text-align: center;
    line-height: 24px;
    border-radius: 6px;
    cursor: default;
    outline: none;
    padding: 15px;
    margin: 1px;
    forced-color-adjust: none;
    font-size: 20px;

    &[data-outside-month] {
      color: black;
    }

    &[data-disabled] {
      color: lightgray;
    }

    &[data-pressed] {
      background: var(--gray-100);
    }

    &[data-focus-visible] {
      outline: 2px solid var(--focus-ring-color);
      outline-offset: 2px;
    }

    &[data-selected] {
      background: #0066f1;
      color: white;
      font-weight: 700;
      border-radius: 50%;
    }
  }
}

.arrows {
  width: 24px;
  height: 24px;
}

#chevron-down-arrow {
  width: 24px;
  height: 24px;
}

#custom-input {
  font-size: 24px;
  font-weight: 700;
}
