body {
  font-family: var(--font-roboto) !important;
}

.rdp-root.rdp-root {
  --rdp-accent-color: #0066f1;
  --rdp-selected-border: #0066f1;
}

.rdp-day.rdp-today.rdp-selected {
  color: white;
}

.rdp-day.rdp-outside.rdp-selected {
  background: #0066f1;
  opacity: 1;
}

.rdp-selected {
  font-weight: bold;
  font-size: large;
  background-color: #0066f1;
  color: white;
  border-radius: 50%;
}

.rdp-month_caption {
  border-bottom: 1.5px solid lightgray;
  padding-bottom: 18px;
  margin-bottom: 18px;
}

.rdp-nav {
  margin-top: 24px;
  padding-bottom: 18px;
  padding-right: 24px;
  gap: 24px;
}

.rdp-month {
  border-radius: 10px;
  border: 1px solid lightgray;
  padding: 24px;
  box-shadow: 3px 3px 3px lightgray;
}

.rdp-months {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.rdp-weekday {
  text-transform: uppercase;
}

#chevron-down-arrow {
  width: 24px;
  height: 24px;
}

.rdp-chevron {
  fill: gray;
  stroke: gray;
  stroke-width: 0.8px;
}
